@font-face {
	font-family: Apercu;
	src: local("fonts/ApercuRegular.otf");
}

body {
	background-color: #f2f2f2;
	font-family: Apercu, sans-serif;
}

div.img-hero {
	background: url(../img/hero_banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	height: 500px;
}

div.img-darken-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
	height: 70vh;
	min-height: 500px;
	opacity: 0.4;
}

div.img-hero-min {
	background: url(../img/hero_banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	height: 30vh;
}

div.img-darken-overlay-min {
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
	height: 30vh;
	opacity: 0.4;
}

div.height-wrap-min {
	height: 20vh;
}

h1#title {
	color: #f84b29;
	text-shadow: black 1px 1px;
	font-size: 4rem;
	font-weight: 700;
}

div.height-wrap {
	height: 20vh;
}

div.featured-wrapper {
	width: 100%;
}

div.featured-heading {
	background-color: rgba(230, 70, 38, 0.82);
}

div.featured-main {
	background-color: white;
	overflow: hidden;
}

div.featured-footer {
	background-color: rgba(230, 70, 38, 0.82);
}

div.indicator-circle {
	width: 10px;
	height: 10px;
	border-radius: 90%;
	background-color: white;
	float: right;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	margin-right: 1rem;
}

div.active {
	background-color: black;
}

div.featured-heading h3 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

div.feature-desc-wrapper {
	max-height: 2rem;
}

div.side-filter-wrapper,
div.side-actions-wrapper {
	background-color: white;
	max-height: 100%;
	padding: 1rem 1rem 1rem 1rem;
}

div.search-box {
	margin-bottom: 1rem;
}

div.event-type-filter div,
div.audience-type-filter div {
	margin-bottom: 0.5rem;
}

div.event-type-filter div:first-child,
div.audience-type-filter div:first-child {
	margin-top: 0.5rem;
}

button.go-btn {
	float: right;
	margin-bottom: 1rem;
}

div.event-main {
	background-color: white;
}

div.event-main div.event-details {
	margin-top: 2rem;
}

div.event-main img {
	margin-top: 2rem;
	margin-left: 1rem;
	margin-bottom: 2rem;
}

div.side-info {
	background-color: white;
}

.detail-text {
	font-size: 1rem;
	font-weight: 400;
}

p.event-description-text {
	max-height: 25vh;
	overflow-y: scroll;
}
